.resto {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 550px;
  width: 360px;
  align-items: center;
  margin-top: 20px;
  margin: 8px;

  padding: 5px;
}
.resto-img {
  align-items: center;
  margin: 15px;
  padding: 10px;
}
.img {
  border: 1px solid #180101;
  border-radius: 10px;
  padding: 5px;
  width: 280px;
  align-items: center;
}
.resto:hover {
  background-color: rgb(240, 255, 255);
  cursor: pointer;
  border-radius: 15px;
}
.item-card {
  list-style-type: none;
  flex-direction: column;
}
.menu-text {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  inline-size: 590px;
}
.img-card {
  float: right;
  border: 1px solid black;

  border-radius: 25px;
}
